body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  padding-inline: 32px;
}

#root>div {
  box-shadow: 0 0 20px #999999;
  padding: 32px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

div:has(>button):has(+ul) {
  padding-top: 10px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

button {
  font-size: 14px;
  background-color: #1976d2;
  font-weight: bold;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 300ms;
  box-shadow: 0 0 5px #333333;
}

button:hover {
  cursor: pointer;
  background-color: #1565c0;
}

button:not(:first-child) {
  margin-left: 5px;
}

ul {
  box-sizing: border-box;
  padding: 16px 16px 16px 32px;
  border-radius: 8px;
  background-color: #d1e6fa;
}

li {
  position: relative;
  padding-block: 16px;
}

li>span {
  text-wrap: wrap;
}

li>button:not(:first-child) {
  margin-left: 32px;
}